<!-- <style>
  .id-input,
  .id-button {
    margin-top: 3rem;
  }

  .input-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    text-align: center;
  }
</style>
<form class="input-box">
  <h1>Please enter Google drive public folder ID</h1>
  <input
    type="text"
    class="id-input"
    autofocus
    placeholder="e.g: 1ABQWoOABiV140oe-tO1abcdYSGK1Akqk"
    name="id-input"
    required
  />
  <button class="id-button" type="submit">Enter</button>
</form> -->
<video
  id="video"
  width="320"
  height="240"
  controls
  loop
  autoplay
  preload="auto"
  muted
  src="https://www.w3schools.com/html/mov_bbb.mp4"
></video>
<div>
  <button id="v-play" type="button">play</button>
  <button id="v-pause" type="button">pause</button>
</div>
<script>
  var video = document.getElementById("video");

  var play_button = document.getElementById("v-play");
  var pause_button = document.getElementById("v-pause");

  play_button.addEventListener(
    "click",
    function () {
      video.play(); /* Play movie */
    },
    false
  );

  pause_button.addEventListener(
    "click",
    function () {
      video.pause(); /* Pause movie */
    },
    false
  );
</script>
